.chats .chats__list{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.chats__list .chats__chat {
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
}

.chats__list .chats__chat:last-child{
    border: none;
}

.chats__chat .chat__content img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.chats__list .chats__chat a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.chats__chat .chat__content {
    display: flex;
    align-items: center;
}

.chat__preview .chat__user {
    /* color: black; */
    font-weight: 600;
    margin-bottom: 7px;
}

.chat__preview .chat__last-message {
    color: #b4b4b4;
    font-size: 10px;
}

.chats__chat .chat__date-time {
    font-size: 10px;
    color: #b4b4b4;
}

.chat-btn {
    width: 40px;
    height: 40px;
    background: #FFE94A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 15px;
    color: #523737;
    right: 15px;
    bottom: 70px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.chat-btn:hover{
    color: white;
    background: #523737;
    transform: rotateY(1turn);
}